# MacOS index
.DS_Store
# Python cache
__pycache__
# Developing configs
*.swp
.vscode
.python-version
# Application secrets configs
election_boards/settings/dev.py
election_boards/settings/production.py
election_boards/settings/secrets.py
app/gcskeyfile.json
# Database dump & celery db
dumps/*.dump
celerybeat-schedule.db
